

.header-bg{
        background-image: url('../picture/Hero-bg.png');
        background-size: cover;
        background-position: center ;
        

        background-repeat: no-repeat;
        opacity: 25px ;
    }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #4E47FF;
}
.btn-primary{
        background-color: #4E47FF;
        font-weight: bold;
        color: white;
        padding: 18px 35px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
    }
    
    .banner{
        text-align: center;
        margin-top: 150px;
        margin-bottom: 200px ;
        
    }
    .banner-description{
        font-size: 65px;
        font-weight: bold;
        color: #252432;;
    }
    /* 2nd page */
    .main-colour{
        background-color: #e7eefc;
  margin: 0;
  padding: 0;
}

    
    .second-page{
        display: flex;
        justify-content: space-between;
        margin: 150px;
        margin-top: 23px;
    }
    .second-page-hed{
        font-weight: bold;
        font-size: 42px;
        color: #252432;
    }
    .second-page-p{
        font-size: 24px;
        color: #252432;
        margin-top: 23px;
        margin-bottom: 45px;
    }
    .second-pic{
        border-radius: 48px;
    }
    /* third page */
    .third-page{
        background-color: #b4b3d7;
        margin: 200px;
        border-radius: 24px;
        

    }
    .third-title{
        color: #252432;
        font-size: 38px;
        font-weight: bold;
        
    }
    .over-section{
        padding: 50px 80px;
        background-color: aliceblue;
        text-align: center;
        border-radius: 24px;
        
    }
    .item{
        display: flex;
        text-align: center;
        justify-content: space-around;
        
    }
    .item-title{
        color: #4E47FF;
        font-size: 80px;
        font-weight: bold;
        
    }
    .item-description{
        color: #000;
        font-size: 20px;
    }
    /* forth page */
    .skill{
        
        justify-content: space-around;
        display: flex;
        gap: 100px;
        justify-content: space-around;
        padding: 30px;
        background-color: #b4b3d7;            
    }
    .forth-title{
        text-align: center;
        font-size: 42px;
        color: #252432;
        font-weight: bold;
        
    }
    .skill-rank{
      
    }   
    /* profile */
    .profilr{
        display: flex;
    }
    .forth-page{
        
    }
    /* fifth */
    .fifth-page{
        text-align: center;
    }
    .btn-fifth{
        background-color: #4E47FF;
        font-weight: bold;
        color: white;
        padding: 18px 35px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
    }
    .fifth-pic{
        border-radius: 20px;
       

    }
    .fifth-title{
        font-size: 42px;
        font-weight: bold;
    }
    .btn-fifth{
        margin-bottom: 20px;
    }
    .fifth-paragrap{
        margin-bottom: 20px;
    }
    .fifth-title{
        margin-bottom: 20px;
    }
    .fifth-cover{
        padding: 50px 80px;
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 24px;
        padding: 150px 70px;
        margin: 200px;
    }
    /* sixth */
    .form{
        display: flex;
        margin: 200px ;
        justify-content: space-between;
        padding: 130px 230px;
    }
    .form-title{
        font-size: 97px;
        font-weight: bold;
    }
    .form-details{
        width: 50px ;
        
        height: 62px;
        text-align: center;
        
    }
    .btn-sixth{
        background-color: #4E47FF;
        font-weight: bold;
        color: white;
        padding: 18px 35px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        width: 497px;
        height: 62px;
    }
    /* footer */
    .last-logo{
        font-size: 121px;
        font-weight: bold;
        color: #4E47FF;
    }
    .footer-web{
        margin: 200px;
    }
    .last-ul{
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 401px;
        height: 24px;
        text-align: center;
    }
    .last-page{
        text-align: center;
        justify-content: center;
    }
    